---
import { serverClient } from "../api/[...path]";

const { id } = Astro.params;
if (!id) {
  return new Response(null, { status: 404 });
}

const client = serverClient(Astro);

const response = await client.api.customers[":id"].$get({
  param: {
    id,
  },
});
const result = await response.json();
const row = result.results[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      row ? (
        <ul>
          {Object.entries(row).map(([key, value]) => (
            <li>
              {key}: {value}
            </li>
          ))}
        </ul>
      ) : (
        <p>No customer data found</p>
      )
    }
  </body>
</html>
